/build
/bin
.idea/*
.gradle
.classpath
.project
/eclipse
*~
*.launch
/run
/server
/out
*.iml
/.settings
/src/main/generated/resources/.cache/
/.metadata
/logs/
java_pid29320.hprof

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/

# Discord Bot Token
Token.env
